/.settings/language.settings.xml
/boards/debugdevice/debugdevice-radioone.map
*.d
*.o
/boards/debugdevice/debugdevice.radioone
/boards/debugdevice/obj_radioone/cc2538.ld
*.map
/boards/mainsdetector/mainsdetector.radioone
/boards/mainsdetector/mainsdetector.su-cc2538-1
/boards/mainsdetector/obj_radioone/cc2538.ld
/boards/mainsdetector/obj_su-cc2538-1/cc2538.ld
/boards/relayboard/obj_radioone/cc2538.ld
/boards/relayboard/obj_su-cc2538-1/cc2538.ld
*.hex
*.elf
*.bin
/boards/relayboard/relayboard.radioone
/boards/relayboard/relayboard.su-cc2538-1
*.flash
